.home {
    color: teal;
    background-color: white;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.home .title {
    font-size: 3rem;
}


.custom-shape-divider-bottom-1719385048 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1719385048 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 183px;
}

.custom-shape-divider-bottom-1719385048 .shape-fill {
    fill: teal;
}