.footer {
    background-color: var(--background);
    padding: 0;
    margin: 0;
}

.footer_list {
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
    margin-left: 0;
    
}

.last_line_wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 8rem;
}

.last_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.last_line_list, .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

.last_line-list {
    padding: 0;
}
.socials {
    padding: 0;
}

.footer_list a:hover, 
.last_line a:hover {
    color: black;
}

@media (max-width: 1200px) {

    .last_line {
        flex-direction: column;        
    }
    .footer_list .title_footer  {
        display: none;
    }

    .last_line_wrapper {
        padding: 0;
    }
}


