.signup-page {
    /* background-image: url(../../assets/bugatti.jpg);	
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1rem 3rem 2rem;     */
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    backdrop-filter: blur(10px);
    border: 2px solid white;
    border-radius: 2rem;
    padding: 1rem 5rem 2rem 5rem;    
    height: 23rem;
}


.signup .signup-form {
    height: 100%;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 20rem;
    
}

.submit {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

button {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: rgb(166, 166, 166);
}

button:focus {
    outline-color: #071952;
    border: none;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    border: 2px solid white;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: teal;
}

input:focus {
    outline-color: white;
}

input::placeholder {
    color: white;
}

.submit a {
    font-size: .9rem;
    color: white;
    /* background-color: white; */
    border-radius: 2rem;
    padding: 0.3rem ;
}
