body{
  background-color: var(--background);
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  
}

:root {
  --background: teal;
  --text: #ADB993;  

}

* {
  /* background-color: #32021F;  */
  /* color: white; */
  box-sizing: border-box;
}

.content {
  height: 100vh;
}

li a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
}










